.input {
    margin-left: 20%;
    margin-right: 20%;
}

button {
    height: 50%;
    border: none;
    background-color: white;
}

.kastlimg {
    width: 100%;
    height: 100%;
}

.profileimg {
    width: 5%;
    height: 5%;
}


.logo {
    width: 20%;
}

span {
    margin-left: 20px;
}

.background {
    background-color: white;
}