<br>
<div class="background">
    <span class="space"><img src="assets\Images\settings.png" class="monitoricon">Available Applications</span>
  
    <br><br>

    <mat-nav-list class="rowApp" *ngFor="let app of applications">
        <img class="appPictures" [src]="app.imgpath" [alt]="app.name">
        <span class="appNames" matLine>{{app.name}}</span>
        <button class="plusButton" mat-icon-button (click)="addApplication(app.id)" style="float: right;">
            <mat-icon>add</mat-icon>
        </button>
        <mat-divider></mat-divider>
    </mat-nav-list>
</div>