.centerInterface {     
    width: 670px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;  
    margin-left: -335px;     
    border-width:2px;
    border-style:solid;
    background-color: white;
    border-color: lightgrey;
    text-align: center;
}

.login_logo {
    margin-top: 1%;
    position: absolute;
    left: 45.3%;  
    width: 50%;
    width: 9.5%;
}

.backgroundPicture {
    height: 100%;
    width: 100%;
    position: absolute;
}

.question_mark {
    width: 12%;
    height: 20%;
}

.password {
    width: 95%;
    text-align: left;
}

.email {
    width: 95%;
    text-align: left;
}

.bottombar{
    position: absolute;
    height: 3.5%;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(240, 240, 240);
    text-align: center;
}

.bottombar a {
    display: inline;
    text-align: center;
    color: black;
    font-size: 14px;
    padding: 0.7cm; 
}

.bottombar a:hover {
    text-decoration: underline;
}

.submit {
    color: white;
    background-color: red;
    width: 95%;
    height: 1cm;
    font-size: medium;
    border: 0;
}

.submit:hover {
    background-color: gray;
}

.otherOptions #right {
    float:right;
    margin-right: 3%;
}

.otherOptions #left {
    float:left;
    margin-left: 3%;
}

.otherOptions {
    color: red;
}

.otherOptions :hover {
    color: black;
    text-decoration: underline;
}

a:hover {
    cursor:pointer;
}

mat-label {
    font-size: medium;
}

input {
    font-size: medium;
}
