<br>
<h1 style="font-size: 35px;" >Hello {{username}}</h1>
<div class="background">
<span class="space"><img src="assets\Images\application.png" class="monitoricon">My Applications</span>
<mat-grid-list cols="5" rowHeight="100px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows">
        <div (contextmenu)="onRightClick($event)">
            <img [src]="tile.application.imgpath" [alt]="tile.application.name" class="tile-img">
            <span class="tile-text">{{tile.application.name}}</span>
        </div>
    </mat-grid-tile>
</mat-grid-list>
</div>