
<span class="Hello-User-Name" >Hello {{username}}</span>
<div class="background">
<img src="assets\Images\icon_application.svg" class="icon_application"><span class="MyApplications">My Applications</span>
<mat-grid-list cols="5" rowHeight="100px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        (contextmenu)="onRightClick($event, tile.application.id)"
        [colspan]="tile.cols"
        [rowspan]="tile.rows">
        
        <div *ngIf="tile.application.id==='0'">
            <img [src]="tile.application.imgpath" [alt]="tile.application.name" class="placeholder_icon_plus"><br>
            <span class="NoApplicationText">No Application Yet</span><br>
            <span class="RequestText">Request application access below by pressing the </span>
            <img class="icon_web_round_plus_small" src="assets\Images\icon_web_round_plus.svg" alt="add">
            <span class="RequestText">.</span>
        </div>

        <div *ngIf="tile.application.id!='0'">
            <div class="shadow border"><img [src]="tile.application.imgpath" [alt]="tile.application.name" class="tile-img"></div>
            <span class="tile-text">{{tile.application.name}}</span>
        </div>
            
        
    </mat-grid-tile>
</mat-grid-list>
<div style="visibility: hidden; position: absolute;"[style.left.px]="menuTopLeftPosition.x" [style.top.px]="menuTopLeftPosition.y"[matMenuTriggerFor]="rightMenu">
</div>
<mat-menu #rightMenu="matMenu">
    <ng-template matMenuContent let-item="item">
        <button mat-menu-item (click)="deleteApplication(item.id)">
            <mat-icon>clear</mat-icon>
            {{item.content}}
        </button>
    </ng-template>
</mat-menu>
</div>
